<h1>New Artist Signup</h1>
<form accept-charset="UTF-8" action="/artists" class="new_artist" id="new_artist" method="post">
  <label for="artist_name">Name</label>
  <input id="artist_name" name="artist[name]" type="text" />

  <label for="artist_email">Email</label>
  <input id="artist_email" name="artist[email]" type="text" />

  <label for="artist_password">Password</label>
  <input id="artist_password" name="artist[password]" type="password" />

  <input class="button" name="commit" type="submit" value="Create my account" />
</form>