<h1>I am a...</h1>
<!-- Size Classes: [tiny small large] -->
<!-- Radius Classes: [radius round] -->
<!-- Color Classes: [secondary success alert] -->
<!-- Disabled Class: disabled -->
<a href="#" class="button">User</a>
<a href="#" class="button">Artist</a>